<div class="row">
    <div class="col-12">
        <input type="text" id="title" name="title" maxlength="255" required
            class="h3 form-control border-0" value="<% if (category.title) { %><%= category.title %><% } %>"
            placeholder="یه عنوان درست و درمون که کلمه کلیدی باشه انتخاب کن" >
        <span class="help-block text-muted" >
            تکراری نباشه: 
        </span>
        <span class="help-block" >
            <% categories.forEach(category => { %>
                <span class="h5 text-white badge badge-secondary">
                    <%= category.title %>
                </span>
            <% }) %>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <textarea name="description" class="form-control w-100 border-0 my-4" placeholder="توضیحات مربوط به این دسته بندی" style="resize: none; min-height: 200px;" required><% if (category.description) { %><%= category.description %><% } %></textarea>
    </div>
</div>
<div class="form-group">
    <button type="submit" class="btn btn-success btn-lg">
        <i class="fa fa-dot-circle-o"></i>
        ثبت 
        <i class="fa fa-dot-circle-o"></i>
    </button>
    <a href="/admin/categories" class="btn btn-danger btn-lg">
        <i class="fa fa-ban"></i>
        بیخیال
        <i class="fa fa-ban"></i>
    </a>
</div>