<!-- Hero Section-->
<section style="background: url(/img/hero.jpg); background-size: contain; background-position: center center" class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1>
                    اینجی رو درست کردم واسه همین
                </h1>
                <a href="/about-us" class="hero-link">
                    میخوای بفهمی چی میگم؟
                </a>
            </div>
        </div>
        <a href=".intro" class="continue link-scroll">
            <i class="fa fa-long-arrow-down"></i> 
            پایین برو
        </a>
    </div>
</section>