<!-- Newsletter Section-->
<section class="newsletter no-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>
                    عضو خبرنامه ما میخوای بشی؟ ای زنده باد.
                </h2>
                <p class="text-big">
                    با عضویت در خبرنامه از آخرین اخبار و پست ها باخبر باشید.
                </p>
            </div>
            <div class="col-md-8">
                <div class="form-holder">
                    <form action="#">
                        <div class="form-group">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="email" name="email" id="email" placeholder="ایمیلتو اینجی بتایپ">
                            <button type="submit" class="submit">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>